:root{
    --bgcolor: rgb(50, 50, 50);
    --darkbg:rgb(32, 32, 32);
    --fontcolor: whitesmoke;
    --main: rgb(255, 132, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--fontcolor);
}

section{
    min-height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background: var(--darkbg);
    min-width: 30vw;
    min-height: 50vh;
    padding: 30px 40px;
}
.container h1{
    font-size: 2em;
    text-align: center;
    font-weight: 300;
}
.inputBox{
    width: 100%;
    height: 40px;
    background-color: red;
    margin: 40px 0px;
}
.inputBox input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 2em;
    color: var(--darkbg);;
}

.container .rememberForget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:15px;
    font-size: .9em;
    margin-bottom: 20px;
}
.rememberForget label input{
    margin-right: 3px;
    accent-color: var(--fontcolor);
}
.rememberForget a{
    text-decoration: none;
}
.rememberForget a:hover{
    text-decoration: underline;
}
.container .login{
    width: 100%;
    height: 40px;
    color: var(--darkbg);
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    transition: .3s;
}
.container .login:hover{
    background: var(--main);
    color: var(--fontcolor);
}
.container .register{
    text-align: center;
    margin-top: 20px;
    font-size: .9em;
}
.container .register a{
    text-decoration: none;
    font-weight: 600;
    
}
.container .register a:hover{
    text-decoration: underline;
}